.centent {
  /*对 markdown 样式的补充*/
}
.centent code,
.centent pre {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  overflow-y: hidden;
}
.centent pre {
  background: #2d2d2d;
  position: relative;
  padding-left: 3.8em;
}
.centent code {
  position: relative;
  white-space: inherit;
}
.centent span[line-row] {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  user-select: none;
  counter-reset: linenumber;
}
.centent span[line-row] > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}
.centent span[line-row] > span::before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
.centent h1,
.centent h2,
.centent h3,
.centent h4,
.centent h5,
.centent h6 {
  margin-top: 1em;
}
.centent strong {
  font-weight: bold;
}
.centent p > code:not([class]) {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.centent p img {
  /* 图片居中 */
  margin: 0 auto;
  display: flex;
}
.centent #content {
  font-family: "Microsoft YaHei", 'sans-serif';
  font-size: 16px;
  line-height: 30px;
}
.centent #content .desc ul,
.centent #content .desc ol {
  color: #333333;
  margin: 1.5em 0 0 25px;
}
.centent #content .desc h1,
.centent #content .desc h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.centent #content .desc a {
  color: #009a61;
}

/* 
 
  表格样式

*/

/* 基本样式 */
table {
  width: 100%; /*表格宽度*/
  max-width: 65em; /*表格最大宽度，避免表格过宽*/
  border: 1px solid #dedede; /*表格外边框设置*/
  margin: 15px auto; /*外边距*/
  border-collapse: collapse; /*使用单一线条的边框*/
  empty-cells: show; /*单元格无内容依旧绘制边框*/
}

/* 表头样式 */
table th,
table td {
height: 35px; /*统一每一行的默认高度*/
border: 1px solid #dedede; /*内部边框样式*/
padding: 0 10px; /*内边距*/
}


/* 隔行变色 */
table tbody tr:nth-child(2n) {
  background: rgba(158,188,226,0.12); 
}

/* 悬浮变色 */
table tr:hover {
  background: #efefef; 
}
